# Byte-compiled . optimized / DLL files
__pycache__/

# keys and credentials
.clientInfo
credentials.json
openweathermap_token.py
token.pickle
googlemapsplatform_token.py

# unit test / coverage reports
quickstart.py
